<div class="container halfpage">
	<h2>Sign Up</h2>
       <form id="user_signup">
            <div class="form-group form-items">
      	 	<input type="text" class="form-control" id="name" placeholder="Your Name"><br>
       		<input type="email" class="form-control" id="username" placeholder="E-Mail"><br>
       		<input type="password" class="form-control" id="password" placeholder="Password"><br>
       		<input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="signUp()" value="Sign Up">
            </div>
       </form>
</div>


<div class="container halfpage">
	<h2>Login</h2>
       <form id="user_login">
            <div class="form-group form-items">
       		<input type="email" class="form-control" id="myusername" placeholder="E-mail"><br>
       		<input type="password" class="form-control" id="mypassword" placeholder="Password"><br>
       		<input class="btn btn-primary btn-lg btn-block" type="submit" ng-click="logmeIn()" value="Log In">
            </div>
       </form>
</div>